aiofiles
anyio
faiss-cpu==1.11.0.post1
fastapi
ffmpy
gTTS
gradio==5.38.2
googletrans==4.0.2
numpy<2.0.0
openai
openai-whisper
orjson
pandas
PyMuPDF
pydub
python-multipart
scipy==1.11.4


torch
tqdm
uvicorn
